In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('../dataset/data_banknote_authentication.csv')
df

       3.6216    8.6661  -2.8073  -0.44699  0
0     4.54590   8.16740  -2.4586  -1.46210  0
1     3.86600  -2.63830   1.9242   0.10645  0
2     3.45660   9.52280  -4.0112  -3.59440  0
3     0.32924  -4.45520   4.5718  -0.98880  0
4     4.36840   9.67180  -3.9606  -3.16250  0
...       ...       ...      ...       ... ..
1366  0.40614   1.34920  -1.4501  -0.55949  1
1367 -1.38870  -4.87730   6.4774   0.34179  1
1368 -3.75030 -13.45860  17.5932  -2.77710  1
1369 -3.56370  -8.38270  12.3930  -1.28230  1
1370 -2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 5 columns]

In [5]:

df.isnull().sum()

3.6216      0
8.6661      0
-2.8073     0
-0.44699    0
0           0
dtype: int64

In [7]:
df.columns=['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class']
df.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   4.54590    8.1674   -2.4586 -1.46210      0
1   3.86600   -2.6383    1.9242  0.10645      0
2   3.45660    9.5228   -4.0112 -3.59440      0
3   0.32924   -4.4552    4.5718 -0.98880      0
4   4.36840    9.6718   -3.9606 -3.16250      0

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
x=df.drop('Class',axis=1)
y=df['Class']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
model=RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9878640776699029

In [11]:
import pickle
pickle.dump(model,open('model.pkl','wb'))

In [12]:
import  numpy as np
model.predict([[3.6216,8.6661,-2.8073,-0.44699]])

c:\Users\estya\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)